body{
  margin:0;
  padding:0;

  background-image: url("assets/fundo.jpg");
  background-size: cover;
  background-position: center -130px;
  background-repeat: no-repeat;

  font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  color: black;
  font-family: "HF Poet";
}

.fixo{
  position: fixed;
  right: 20px;
  bottom: 20px;

  background-color: rgb(247,188,213);
  padding: 10px;
  border-radius: 10px;
  font-family: "HF Poet";
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(247, 188, 213);
  padding: 10px 40px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}

#links{
  display:flex;
  gap:20px;
  list-style:none;
}

#icon {
  width: 62px;
}

a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  font-family: "HF Poet";
}

li {
    color: black;
}

p {
  color: black;
  font-family: "HF Poet";
}

.desconto {
  color: rgb(180, 5, 78);
  font-family: "HF Poet";
}

.cupom {
  color: rgb(180, 5, 78);
  font-family: "HF Poet";
}

.preco {
  font-size: 18px;
  font-weight: normal;
  margin-top: auto;
  font-family: "HF Poet";
}

.noticias {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  gap: 20px;
  background-color: rgb(247, 188, 213);
  padding: 20px;
  margin: 40px;
  border-radius: 40px;
}

.noticia{
  background-color:rgb(255, 255, 255);
  border:2px solid rgb(230, 169, 194);
  padding:10px;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;

  width:280px;
  height:340px;

  border-radius:20px;

  opacity:0;
  transform: translateY(20px);
  animation: aparecer 0.6s forwards;
  animation-delay: 0.3s;
  transition: 0.3s;
}

.noticia:nth-child(1){ animation-delay: 0.2s; }
.noticia:nth-child(2){ animation-delay: 0.4s; }
.noticia:nth-child(3){ animation-delay: 0.6s; }
.noticia:nth-child(4){ animation-delay: 0.8s; }
.noticia:nth-child(5){ animation-delay: 1s; }

@keyframes aparecer{
  to{
    opacity:1;
    transform: translateY(0);
  }
}

.img_noticia {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

footer {
  background-color: rgb(247, 188, 213);
  text-align:left;
  font-size: 12px;
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 20px;
  border-radius: 40px;
  width: 170px;
  position:relative;
  bottom: 20px;

  margin-left: 2%;
}
